GENERATE_SOURCEMAP=false
REACT_APP_LOGIN_API=http://localhost:5000/login
REACT_APP_REGISTER_API=http://localhost:5000/register
REACT_APP_FORGOT_PASS_API=http://localhost:5000/forgotpassword
REACT_APP_RESET_PASS_API=http://localhost:5000/resetpassword
REACT_APP_GET_ADMIN_DATA=http://localhost:5000/adminprofile
REACT_APP_UPDATE_ADMIN_DATA=http://localhost:5000/adminupdateprofile
REACT_APP_GET_TEACHER_DATA=http://localhost:5000/teacherprofile
REACT_APP_UPDATE_TEACHER_DATA=http://localhost:5000/updateteacherprofile
REACT_APP_GET_STUDENT_DATA=http://localhost:5000/studentprofile
REACT_APP_UPDATE_STUDENT_DATA=http://localhost:5000/updatestudentprofile
REACT_APP_ADMIN_GET_TEACHERS=http://localhost:5000/getallteacher
REACT_APP_ADMIN_GET_STUDENTS=http://localhost:5000/getallstudent
REACT_APP_LOGOUT=http://localhost:5000/logout
REACT_APP_ADMIN_GET_ONE_TEACHER=http://localhost:5000/getteacher
REACT_APP_ADMIN_GET_ONE_STUDENT=http://localhost:5000/getstudent
REACT_APP_ADMIN_DELETE_TEACHER=http://localhost:5000/deleteteacher
REACT_APP_ADMIN_DELETE_STUDENT=http://localhost:5000/deletestudent
REACT_APP_ADMIN_GET_STATS=http://localhost:5000/getstats
REACT_APP_TEACHER_CREATE_TEST=http://localhost:5000/create-test
REACT_APP_ADMIN_CREATE_TEACHER=http://localhost:5000/createteacher
REACT_APP_ADMIN_CREATE_STUDENT=http://localhost:5000/createstudent
REACT_APP_ADMIN_BULK_UPLOAD_STUDENT=http://localhost:5000/bulkuploadstudents
REACT_APP_TEACHER_GET_TESTS=http://localhost:5000/getAlltest-teacher
REACT_APP_TEACHER_GET_ONE_TEST=http://localhost:5000/getOnetest-teacher
REACT_APP_TEACHER_UPDATE_ONE_TEST=http://localhost:5000/updateOnetest-teacher
REACT_APP_GET_UNIQUE_DEPARTMENTS=http://localhost:5000/getuniquedepts
REACT_APP_GET_UNIQUE_BATCHES=http://localhost:5000/getuniquebatch
REACT_APP_GET_UNIQUE_SECTIONS=http://localhost:5000/getuniquesections
REACT_APP_ASSIGN_TEST_TO_STUDENTS=http://localhost:5000/assign-test
REACT_APP_GET_ASSIGNED_TESTS=http://localhost:5000/get-test-student
REACT_APP_STUDENT_GET_ONE_TEST=http://localhost:5000/getOne-test-student
REACT_APP_TEACHER_DEASSIGN_TEST=http://localhost:5000/deassign-test
REACT_APP_GET_TEACHER_DASHBOARD_DATA=http://localhost:5000/getTeacherDashboardData
REACT_APP_STUDENT_SUBMIT_TEST=http://localhost:5000/submit-test
REACT_APP_STUDENT_GET_ALL_REPORT=http://localhost:5000/get-report-student
REACT_APP_TEACHER_GET_REPORT_BY_TEST=http://localhost:5000/get-report-by-test_id
REACT_APP_GET_ALL_TEST_ADMIN=http://localhost:5000/getalltestadmin
REACT_APP_GET_LOGIN_TRENDS=http://localhost:5000/getlogintrends
REACT_APP_RESET_PASSWORD=http://localhost:5000/reset-password
REACT_APP_ADMIN_GET_REPORT_BY_TEST=http://localhost:5000/get-test-by-test-id-admin